*{
	font-family: 'Varela Round', sans-serif;
	color: #F3A712;
}

.page-title{
	background-color: #690500;
}

section{
	background-color:  #fff2a5;
	padding: 0px 30px 30px 30px;
}

.titulo{
	font-weight: bold;
	padding-bottom: 10px;
}

h3{
	padding: 20px;
	font-size: 28px;
	display: inline;
	margin-top: 30px;
}

.categorias{
	margin:20px;
}

.escoger-categoria{
	padding: 5px 55px;
	background-color: #690500;
	color: #F3A712;
	font-weight: bold;
	display: inline;
	margin-left: 20px;
}

.pelicula{
	height: 280px;
	width: 180px;
	margin:10px 5px;
}

.estilo-pelicula{
	display: inline-block;
}

.video{
	padding:30px;
	height: 80%;
	width: 80%;
	margin-left: 100px;
}

.movie-title{
	margin-top: 40px;
}

.actores{
	height: 50%;
	width: 50%;
	margin-left: 70px;
	margin-top: 20px;
}